body {
	font-family: "Oxanium", cursive;
	background-color:hsl(0, 0%, 0%);
	color: #ffffff;
	overflow-x: hidden;
	
}

body::before{
    content: "";
    background-image: url(../imagens/bg-desktop.png);
	background-repeat: no-repeat;
    background-size:cover;
	background-position:center;
    width:100%;
    height:110%;
    position:absolute;
    z-index: -1;
    opacity: 0.2;
	
		
}


.cabecalho {
	display: flex;
	display: wrap;
	justify-content:space-around;
	position:relative;	
    
		
}

.selecao-de-personagens {
	display: flex;
	align-items: center;
	gap: 30px;
    min-height: calc(100vh - 152px);
	justify-content: center;
		
	
}

.selecao-de-personagens .lista-de-personagens {
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
    justify-content: center;
}


p{ 
	color: white;

}
.selecao-de-personagens .personagens{
	overflow-y: auto;
	overflow-y: scroll;
	overflow-x: auto;
	scroll-margin-bottom: 100%;
    scrollbar-width:thin;
	scrollbar-color: grey transparent;
	height: 20cm;
	   
}


.selecao-de-personagens .personagens {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 585px;
	gap: 25px;
	
	
	
}
.selecao-de-personagens .personagens .titulo {
	font-size: 20px;
	letter-spacing: 4px;
	text-transform: uppercase;
	text-align: center;
	border-bottom: 2px solid #47f4ff;	
	width: 80%;
	
	
	
}

.lista-de-personagens .personagem {
	border-bottom: 2px solid #47f4ff;
	
	
}

.lista-de-personagens .personagem img {
	width: 100%;
	height: 100%;
	
}

.lista-de-personagens .personagem.selecionado {
	box-shadow: 0px 0px 24px 5px #f77402;
	
}


.personagem-selecionado {
    text-align: center;
    max-height: 530px;
	
	
}

.personagem-selecionado .personagem-grande{
    width: 430px;
    height: 430px;
	
	
}

.personagem-selecionado .nome-personagem{
    border-bottom: 2px solid #47f4ff;
    letter-spacing: 4px;
    text-transform: uppercase;
	justify-content: center;
	
}


.personagem-selecionado .descricao-personagem{
    font-size: 16px;
    line-height: 22px;
    text-align: center;
	margin-top: 20px;
    width: 350px;
	margin: auto;
	

}   


